<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Adcell</label>
    <label lang="en">Adcell</label>
    <version>1.2.3</version>
    <copyright>Copyright © 2019, Coolbax</copyright>
    <license>proprietary</license>
    <link>http://www.coolbax.de</link>
    <author>Coolbax</author>
	<description lang="de"><![CDATA[<h1>Adcell</h1><br /><p>ADCELL – das Partnerprogramm und Affiliate Netzwerk</p>]]></description>
	<description lang="en"><![CDATA[<h1>Adcell</h1><br /><p>ADCELL - the affiliate program and affiliate network</p>]]></description>

    <compatibility minVersion="5.3.0" />
	
	<changelog version="1.2.3">
        <changes lang="de">Mehrere Veranstaltung/Bereitstellung hinzugefügt</changes>
        <changes lang="en">Added multiple event/provision</changes>
    </changelog>
	<changelog version="1.2.1">
        <changes lang="de">Retargeting wird jetzt asyncron geladen</changes>
        <changes lang="en">Retargeting is now loaded asyncron</changes>
    </changelog>
	<changelog version="1.2.0">
        <changes lang="de">Anpassung der Tracking Pixel</changes>
        <changes lang="en">Adjustment of the tracking pixel</changes>
    </changelog>
	<changelog version="1.1.9">
        <changes lang="de">Anpassung der Tracking Methode</changes>
        <changes lang="en">Adjustment of the tracking method</changes>
    </changelog>
	<changelog version="1.1.8">
        <changes lang="de">Anpassung Shopware 5.5.x</changes>
        <changes lang="en">Customization Shopware 5.5.x</changes>
    </changelog>
	<changelog version="1.1.7">
        <changes lang="de">Das Retargeting wird wieder standardmäßig auf true gesetzt</changes>
        <changes lang="en">Retargeting is again set to true by default</changes>
    </changelog>
	<changelog version="1.1.6">
        <changes lang="de">Fehler bei Aufruf der API behoben</changes>
        <changes lang="en">Fixed an error when calling the API</changes>
    </changelog>
	<changelog version="1.1.5">
        <changes lang="de">Fehler in Subshop Konfiguration behoben</changes>
        <changes lang="en">Bug in subshop configuration fixed</changes>
    </changelog>
	<changelog version="1.1.4">
        <changes lang="de">Migration auf das Shopware 5.2 Plugin System</changes>
        <changes lang="en">Migration to the Shopware 5.2 plugin system</changes>
    </changelog>
	<changelog version="1.1.3">
        <changes lang="de">Remarketing Funktion angepasst</changes>
        <changes lang="en">Remarketing function adapted</changes>
    </changelog>
	<changelog version="1.1.2">
        <changes lang="de">Korrektur bei der Übergabe des Betrag</changes>
        <changes lang="en">Correction when handing over the amount</changes>
    </changelog>
	<changelog version="1.1.1">
        <changes lang="de">Kleine Anpassung</changes>
        <changes lang="en">Small adjustment</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
